<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sso登录界面</title>
</head>
<body>
    <form th:action="${#request.getContextPath()+'/login/login'}" method="post">
        <label>用户名: </label><input type="text" name="username"/>
        <br/>
        <label>密码: </label><input type="password" name="password"/>
        <br/>
        <input type="hidden" name="service" th:value="${service}">
        <button type="submit">提交</button>
        <button type="reset">重置</button>
    </form>
</body>
</html>
